{% extends 'documentos/base.html' %}
{% block conteudo %}
<form action="{% url 'home' %}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="container text-center">
        <h2>Adicionar documento</h2>
        <div class="mb-3">
            {{ form.nome_documento.label_tag }}
            {{ form.nome_documento }}
            <div class="invalid-feedback">
                Por favor, insira um nome de documento válido.
            </div>
        </div>
        <div class="mb-3">
            {{ form.arquivo.label_tag }}
            {{ form.arquivo }}
            <div class="invalid-feedback">
                Por favor, insira um arquivo válido.
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
    </div>
</form>
{% endblock %}